body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tableClass{
  display: flex;
  justify-content: center;
}

.tableDiv{
  background-color: white;
  display: flex;
  justify-content: center;
}

/*.forceButton{*/
/*  background-color: cornflowerblue;*/
/*  color: white;*/
/*}*/

